@using MvcCv.Models.Entitiy
@model List<Tblİletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        
                        </div><!-- /.card-header -->
                        <div class="card-body">
                                <div class="tab-pane" id="timeline">
                                    @foreach(var item in Model) {
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-info">
                                             @(((DateTime)item.Tarih).ToString("dd-ggg-yyyy"))
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-envelope bg-primary"></i>

                                            <i class="fas fa-comments bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i>@item.Mail</span>
                                                <h3 class="timeline-header"><a href="#"> @item.Adsoyad</a>@item.Konu</h3>
                                                <div class="timeline-body">
                                                    @item.Mesaj
                                                </div>
                                               
                                            </div>
                                        </div>
                                       
                                    </div>
                                    }
                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            
            <!-- /.row -->
        <!-- /.container-fluid -->
    </section>
</body>
</html>