@using MvcCv.Models.Entitiy;
@model List<TblEgitim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Baslik</th>
        <th>AltBaslik1</th>
        <th>AltBaslik2</th>
        <th>GNO</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>


    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.ID</td>
    <td>@item.Baslik</td>
    <td>@item.AltBaslik1</td>
    <td>@item.AltBaslik2</td>
    <td>@item.GNO</td>
    <td>@item.Tarih</td>
    <td>
        <a class="btn btn-danger btn-sm" href="/Egitim/EgitimSil/@item.ID">
            <i class="fas fa-trash">
            </i>
            Sil
        </a>
    </td>
    <td>
        <a class="btn btn-info btn-sm" href="/Egitim/EgitimGetir/@item.ID">
            <i class="fas fa-pencil-alt">
            </i>
            Düzenle
        </a>

    </td>

</tr>
    }

</table>
<a href="/Egitim/EgitimEkle/" class="btn btn-primary">Yeni Eğitim  Ekle</a>



